<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
    <title>JS21 eShop InfoStand App</title>
    <title>Product Slider Template | PrepBootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/client.css"/>
    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"/>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"/>
    <script type="text/javascript" src="websocket.js"/>
</head>
<body>
<f:view>
    <div class="container">
        <div class="page-header">
            <h1>JS21 eShop Info Stand
                <small>Browse top sold products.</small>
            </h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-md-9">
                        <h3>Top products</h3>
                    </div>
                    <div class="col-md-3">
                        <!-- Controls -->
                        <div class="controls pull-right hidden-xs">
                            <a class="left fa fa-chevron-left btn btn" href="#carousel-example"
                               data-slide="prev"></a><a class="right fa fa-chevron-right btn" href="#carousel-example"
                                                        data-slide="next"></a>
                        </div>
                    </div>
                </div>
                <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <ui:repeat value="#{statsBean.topProducts}" var="product" varStatus="i">
                                    <ui:fragment rendered="#{i.index lt 4}">
                                        <div class="col-sm-3">
                                            <div class="col-item">
                                                <div class="info">
                                                    <div class="row">
                                                        <div class="price col-md-6">
                                                            <h5>#{product.name}</h5>
                                                            <h5 class="price-text-color">$ #{product.price}</h5>
                                                        </div>
                                                        <div class="rating hidden-sm col-md-6">
                                                            <i class="price-text-color fa fa-star"></i>
                                                            <i class="price-text-color fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="photo" style="display: flex; justify-content: center; height: 161px; align-items: center; overflow:hidden">
                                                    <img src="data:image/jpg;base64,#{product.base64Image}"
                                                         class="img-responsive" alt="" style="flex: none; min-height: 100%; max-height: 100%"/>
                                                </div>
                                                <div class="info">
                                                    <div class="separator clear-left">
                                                        <p class="btn-add">
                                                            <i class="fa fa-shopping-cart"></i><a href="#"
                                                                                                  class="hidden-sm">Add to cart</a>
                                                        </p>
                                                        <p class="btn-details">
                                                            <i class="fa fa-list"></i><a
                                                                href="/product/#{product.productId}"
                                                                class="hidden-sm">More details</a>
                                                        </p>
                                                    </div>
                                                    <div class="clearfix">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ui:fragment>
                                </ui:repeat>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <ui:repeat value="#{statsBean.topProducts}" var="product" varStatus="i">
                                    <ui:fragment rendered="#{i.index ge 4 and i.index lt 8}">
                                        <div class="col-sm-3">
                                            <div class="col-item">
                                                <div class="info">
                                                    <div class="row">
                                                        <div class="price col-md-6">
                                                            <h5>#{product.name}</h5>
                                                            <h5 class="price-text-color">$ #{product.price}</h5>
                                                        </div>
                                                        <div class="rating hidden-sm col-md-6">
                                                            <i class="price-text-color fa fa-star"></i>
                                                            <i class="price-text-color fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="photo" style="display: flex; justify-content: center; height: 161px; align-items: center; overflow:hidden">
                                                    <img src="data:image/jpg;base64,#{product.base64Image}"
                                                         class="img-responsive" alt="" style="flex: none; min-height: 100%; max-height: 100%"/>
                                                </div>
                                                <div class="info">
                                                    <div class="separator clear-left">
                                                        <p class="btn-add">
                                                            <i class="fa fa-shopping-cart"></i><a href="#"
                                                                                                  class="hidden-sm">Add to cart</a>
                                                        </p>
                                                        <p class="btn-details">
                                                            <i class="fa fa-list"></i><a
                                                                href="/product/#{product.productId}"
                                                                class="hidden-sm">More details</a>
                                                        </p>
                                                    </div>
                                                    <div class="clearfix">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ui:fragment>
                                </ui:repeat>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:view>
</body>
</html>
